.header-view {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo img {
    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar li {
    list-style-type: none;
    margin-left: 40px;
}

.navbar li a {
    font-size: 20px;
    text-decoration: none;
    color: #E5E8ED;
    transition: all .4s ease-in-out;
}

.navbar li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #015FE5;
    display: block;
    margin-top: 2px;
    transition: 0.3s ease;
}
  
  .navbar li a:hover::after {
    width: 60%;
}

@media screen and (max-width: 1024px) {  
    .logo img {
        height: 80px;
        width: 80px;
    }
    
    .navbar li {
        margin-left: 1em;
    }

    .navbar li a {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {  
    .logo {
        display: none;
    }

    .header-view {
        align-items: center;
    }

    .navbar li a {
        font-size: 0.85em;
    }
}