.project-card {
    width: 48%;
    border-radius: 8px;
    transition: all .3s;
    background-color: rgba(255, 255, 255, .05);
    overflow: hidden;
}

.project-card-footer {
    padding: .5rem 1rem 1rem 1rem;
}

.project-card-footer p {
    font-size: 1.2rem;
}

.project-card-footer span {
    font-size: .7rem;
    padding-right: .5rem;
    color: #015FE5;
}

.project-card:hover, .project-card img:hover  {
    filter: grayscale(0%);
}

.project-card h3 {
    font-size: 1.75em;
    margin-bottom: 15px;
}

.project-card img {
    width: 100%;   
    object-fit: contain;
    filter: grayscale(90%);
    transition: all .5s;
}

.icons-view svg {
    margin-left: 10px;
    color: #E5E8ED;
    transition: all .1s ease-in;
}

.icons-view svg:hover {
    color: #015FE5;
}

.footer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.repositories-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: .5rem;
}

.repositories-link:hover a {
    color: #015FE5;
}

.repositories-link:hover svg {
    color: #015FE5;
    transform: translateX(3px) translateY(-3px);
}

.repositories-link a {
    color: #868686;
    font-size: .85rem;
    transition: all .2s;
}

.repositories-link svg {
    color: #868686;
    font-size: 1.2rem;
    transition: all .2s;
}

.cards-view {
    margin-top: 70px;
    display: flex;
    row-gap: 2.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.see-more {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: .2rem;
}

.see-more p {
    color: #868686;
    font-size: .75rem;
}

.see-more svg {
    color: #868686;
    font-size: .7rem;
    transition: all .2s;
}

.see-more:hover p {
    color: #015FE5;
    transition: all .2s;
}

.see-more:hover svg {
    color: #015FE5;
    transform: translateX(.2rem);
}

@media screen and (max-width: 1024px) {
    .cards-view {
        flex-direction: column;
        align-items: center;
    }
    
    .project-card {
        width: 100%;
    }

    .project-card h3 {
        font-size: 1.5em;
    }

    .repositories-link a {
        font-size: .85em;
    }

    .repositories-link svg {
        width: 22px;
    }
}

@media screen and (max-width: 480px) {
    .project-card p {
        font-size: .7em;
    }

    .project-card h3 {
        font-size: 1.2em;
        margin-bottom: 12px;
    }

    .icons-view {
        margin-top: 10px;
    }
    
    .icons-view svg {
        margin-left: 0px;
        margin: 0 5px;
        width: 20px;
    }
    
    .footer-card {
        flex-direction: column;
        align-items: start;
    }

    .repositories-link a {
        font-size: .7em;
    }

    .repositories-link svg {
        width: 18px;
    }
}