.dash {
    background-color: #FFF;
    width: 100px;
    height: 10px;
    margin-bottom: .8rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
}

@media screen and (max-width: 1024px) { 
    .title {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 480px) {
    .dash {
        width: 58px;
        height: 8px;
        margin-bottom: .7rem;
    }
    
    .title {
        font-size: 2em;
    }
}