.text-about {
    margin-top: 3rem;
    color: #E5E8ED;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.text-about p {
    margin-bottom: 16px;
}

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {  
    .text-about {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .text-about {
        font-size: 0.8em;
    }
}