.stack-view {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 3rem 0;
}

.stack-view svg {
    margin: 12px;
    transition: all .2s ease-in;
}

.stack-view svg:hover{
    color: #015FE5;
    transform: translateY(-3px);
}

@media screen and (max-width: 1024px) {  
    .stack-view svg {
        margin: 8px;
        height: 32px;
        width: 32px;
    }
}

@media screen and (max-width: 480px) {
    .stack-view svg {
        margin: 8px;
        height: 22px;
        width: 22px;
    }
}